/*Stylesheet*/
html,
.nav li {
    display: inline;
}
.container li {
    background-color: #b3ed8a;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}
.container a {
    text-decoration: none;
    color: black;
}
.container a:hover {
    color:#0a7933;
}
.Highlight .Indruduction {
    font-family: Tahoma, Geneva, sans-serif;            
    line-height: 1;
}            
.Highlight {
    font-weight: bold;
    font-size: 28px;
    margin: 10px;
}
.Indruduction {
    font-size: 24px;
    margin: 10px;
}
footer {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}
#me {
    margin: 10px;
    }